<div class="product-card">
    <div class="product-card__container">
      <a href="/#">
        <img class="product-card__img" src="https://neatandshaken.com/cdn/shop/files/Hero-Product_fbf6c0fc-fa40-4392-a617-362c26f2637b.jpg?v=1701860899" height="100" width="100" />
      </a>

      <span class="product-card__review">
        <a href="/#">
          <img class="product-card__stars" src="{{ 'half5-stars.png' | asset_url }}" width="32" height="16"/>
        </a>
      </span>
      
      <span class="product-card__title"><a href="/#">Opihr's, Spices of the origent, 70cl</a></span>
      <label class="product-card__sm-description">London Dry Gin</label>

      <div class="product-card__price-container">
        <span class="product-card__money">€18.50</span>
        <span class="product-card__compare-at-price">€29.30</span>
      </div>
    </div>
</div>


